/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,600|Open+Sans+Condensed:300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #FFF; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page-wrapper {
  margin: 0 auto;
  margin: 1em; }
  @media screen and (min-width: 425px) {
    .page-wrapper {
      text-align: left;
      margin: 1em 1em 1em 2em; } }
  @media screen and (min-width: 768px) {
    .page-wrapper {
      text-align: left;
      margin: 0 1 2em 0; } }
  @media screen and (min-width: 1024px) {
    .page-wrapper {
      text-align: left;
      margin: 0 5em 10em 7.5em; } }
  @media screen and (min-width: 1440px) {
    .page-wrapper {
      text-align: left;
      margin: 0 10em 10em 10em; } }

#head-wrapper {
  background: url(../img/background-image.jpg) no-repeat 80% 70%;
  background-size: cover;
  height: 225px;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 425px) {
    #head-wrapper {
      height: 225px; } }
  @media screen and (min-width: 768px) {
    #head-wrapper {
      height: 250px; } }
  @media screen and (min-width: 1024px) {
    #head-wrapper {
      height: 350px; } }
  #head-wrapper .header-intro {
    position: absolute;
    height: 70px;
    top: 70%;
    left: 0px;
    width: 375px;
    background-color: #5677FC; }
    @media screen and (min-width: 425px) {
      #head-wrapper .header-intro {
        width: 400px;
        left: 0px;
        top: 75%; } }
    @media screen and (min-width: 768px) {
      #head-wrapper .header-intro {
        left: 10px;
        top: 75%; } }
    @media screen and (min-width: 1024px) {
      #head-wrapper .header-intro {
        left: 95px;
        top: 80%; } }
    @media screen and (min-width: 1440px) {
      #head-wrapper .header-intro {
        left: 135px; } }
    #head-wrapper .header-intro h1 {
      padding: 15px 5px 5px 5px;
      text-align: center;
      font-family: 'Droid Serif', serif;
      font-weight: 700;
      font-size: 2.25em;
      color: white; }
      @media screen and (min-width: 768px) {
        #head-wrapper .header-intro h1 {
          padding: 10px 10px 10px 10px; } }
      @media screen and (min-width: 768px) {
        #head-wrapper .header-intro h1 {
          padding: 15px 10px 10px 10px; } }
      @media screen and (min-width: 1024px) {
        #head-wrapper .header-intro h1 {
          padding: 20px 10px 10px 10px; } }

#about {
  padding: 2em 0 2em 0; }
  @media screen and (min-width: 425px) {
    #about {
      padding: 5em 0 5em 0; } }
  #about h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center; }
    @media screen and (min-width: 425px) {
      #about h2 {
        text-align: left; } }
  #about .about-wrapper {
    margin-top: 35px; }
    #about .about-wrapper p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 600;
      font-size: 1.15em;
      letter-spacing: 0.05em;
      margin-top: 15px;
      line-height: 1.5em; }

#portfolio h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center; }
  @media screen and (min-width: 425px) {
    #portfolio h2 {
      text-align: left; } }

#portfolio .portfolio-wrapper {
  margin-top: 20px; }

*,
*:after,
*:before {
  box-sizing: border-box; }

[class*='col-'] {
  float: left; }

.col-1-3 {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .col-1-3 {
      width: 45%;
      padding-right: 100px; } }
  @media screen and (min-width: 1440px) {
    .col-1-3 {
      width: 35%;
      padding-right: 0px; } }
  .col-1-3 .project-img-wrapper {
    width: 100%; }
    .col-1-3 .project-img-wrapper img {
      border: 1px solid black;
      width: auto; }

.col-2-3 {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .col-2-3 {
      padding-left: 70px;
      width: 55.00%; } }
  @media screen and (min-width: 1440px) {
    .col-2-3 {
      padding-left: 50px; } }
  .col-2-3 .project-description {
    height: auto;
    width: auto;
    padding-top: 15px; }
    @media screen and (min-width: 425px) {
      .col-2-3 .project-description {
        padding-top: 0; } }
    .col-2-3 .project-description h3 {
      font-family: 'Open Sans', sans-serif; }
    .col-2-3 .project-description h4 {
      font-family: 'Open Sans', sans-serif;
      margin-top: 5px; }
    .col-2-3 .project-description p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.15em;
      margin-top: 10px;
      line-height: 1.5em; }
      @media screen and (min-width: 768px) {
        .col-2-3 .project-description p {
          max-width: 275px; } }
    .col-2-3 .project-description ul {
      text-align: center; }
      .col-2-3 .project-description ul li {
        font-family: 'Open Sans', sans-serif;
        color: blue; }
        .col-2-3 .project-description ul li a {
          text-decoration: none; }
  .col-2-3 ul {
    margin-top: 10px;
    display: -webkit-box;
    display: flex; }
    .col-2-3 ul li {
      padding-right: 5px; }

.gridex:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding: 20px 0; }

#contact {
  margin-top: 2em; }
  #contact h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center; }
    @media screen and (min-width: 425px) {
      #contact h2 {
        text-align: left; } }
  #contact .contact-wrapper {
    margin-top: 10px; }
    #contact .contact-wrapper p {
      font-family: 'Open Sans', sans-serif;
      padding-bottom: 5px;
      line-height: 1.5; }
    #contact .contact-wrapper a {
      text-decoration: none; }
