#contact {
  margin-top: 2em;
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    @media screen and (min-width: 425px) {
      text-align: left;
    }
  }
  .contact-wrapper {
    margin-top: 10px;
    p {
      font-family: 'Open Sans', sans-serif;
      padding-bottom: 5px;
      line-height: 1.5;
    }
    a {
      text-decoration: none;
    }
  }
}
