footer {
  background-color: $bright-blue;
  height: 225px;
  padding: 35px 0;

  .contact {
    margin: auto;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 1024px) {
      width: 35%;
    }
    h2 {
      margin-bottom: 35px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 2.75em;
      color: white;
    }
    ul {
      margin-top: 10px;
      display: flex;
      li {
        font-size: 3.5em;
        width: 25%;
        text-align: center;
      }
      a {
        font-weight: 600;
        color: white;
      }
    }
  }
}
