#head-wrapper {
  background: url(../img/background-image.jpg) no-repeat 80% 70%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  position: relative;
  overflow: hidden;
  .header-intro {
    position: absolute;
    height: 70px;
    top: 80%;
    left: 135px;
    width: 400px;
    background-color: $bright-intro;
    h1 {
      padding: 20px 10px 10px 10px;
      text-align: center;
      font-family: 'Droid Serif', serif;
      font-weight: 700;
      font-size: 2.25em;
      color: white;
    }
  }
}
