.page-wrapper {
  text-align: center;
  margin: 0 auto;
    // margin: 0 2em 2em 5em;

  @media screen and (min-width: 425px) {
    margin: 0 5em 5em 10em;
  }
  @media screen and (min-width: 1024px){
    margin: 0 10em 10em 10em;
  }
}
